
/* 元テーマのstyle.cssを上書き つまりはasset\css\custom.cssより優先される*/


/* タイトルロゴで NITMIC -> NITMic となるように */
.logo__text {
	text-transform: none;
	margin-right: auto;
}

/* カード */

.member_icon_img {
	width: 20px;
	height: 20px;
}

.author_icon_img {
	width: 40px;
	height: 40px;
}

.member_name {
	font-weight: 500;
}


/* サムネイルサイズ調整 */
.list__thumbnail img {
    width: 150px;
    height: 150px;
    margin-right: 3%;
    object-fit:cover;
}
.post__thumbnail img {
    width: 800px;
    height: 200px;
    margin-right: 3%;
    object-fit:cover;
	filter: opacity(60%);
}

