{{- $taxo := "authors" -}}
{{- with .Param $taxo -}}
<div class="meta__item-author meta__item">
	{{- partial "svg/author.svg" (dict "class" "meta__icon") -}}
	<span class="meta__text">
		{{- range $index, $author := . }}
			{{- $url := urls.Parse ($author | urlize) -}}
			{{- $path := $url.Path -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $taxo $path) }}
				{{- if gt $index 0 }}, {{ end -}}
				<a class="meta__link" href="{{ .RelPermalink }}" rel="category">{{ .Title }}</a>
			{{- end }}
		{{- end }}
	</span>
</div>
{{- end }}

