
/* 元テーマのstyle.cssを上書き つまりはasset\css\custom.cssより優先される*/


/* タイトルロゴで NITMIC -> NITMic となるように */
.logo__text {
	text-transform: none;
	margin-right: auto;
}


.sidebar {
	-webkit-flex: 1 0 21.66%;		/* 初期値：31.6% */
	flex: 1 0 21.66%;				/* 初期値：31.6% */
	-webkit-order: 2;
	order: 2;
	min-width: 0;
	margin: 0 0 0 2.5%;
}

/* カード */

.member_icon_img {
	width: 20px;
	height: 20px;
}

.author_icon_img {
	width: 40px;
	height: 40px;
}

.member_name {
	font-weight: 500;
}
