<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	
	<!-- Twitter Card Metas -->
	<meta property="twitter:card" content="summary" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	{{ if .Params.thumbnail }}
	<meta property="og:image" content="http://nitmic.club.nitech.ac.jp/{{ .Params.thumbnail }}" />
	{{ else }}
	<meta property="og:image" content="http://nitmic.club.nitech.ac.jp/logo/logo_4.png" />
	{{ end }}
	<meta property="twitter:url" content="{{ .Permalink }}" />
	<meta property="twitter:site" content="@nitmic_twi" />
	<meta property="twitter:creator" content="@nitmic_twi" /> 


	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}


	<!-- customCSSを適用している箇所 , rangeだから複数customCSS登録しても大丈夫そう？ -->
	{{ $style := resources.Get "/css/custom.css" | resources.ExecuteAsTemplate "/css/custom.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{- if hasPrefix .Site.GoogleAnalytics "G-" }}
		{{ template "_internal/google_analytics.html" . }}
		{{- else }}
		{{ template "_internal/google_analytics_async.html" . }}
		{{- end }}
	{{- end }}

<!-- swiper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  
<!-- swiper css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

<!-- 画像ポップアップ用 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

</head>

<body class="body">
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>