
/* 元テーマのstyle.cssを上書き */


/* タイトルロゴで NITMIC -> NITMic となるように */
.logo__text {
	/*text-transform: uppercase;*/
}

.sidebar {
	-webkit-flex: 1 0 21.66%;		/* 初期値：31.6% */
	flex: 1 0 21.66%;				/* 初期値：31.6% */
	-webkit-order: 2;
	order: 2;
	min-width: 0;
	margin: 0 0 0 2.5%;
}

/* カード */
