{{ define "main" }}

<main class="main" role="main">
    <article class="post">
        <header class="post__header">
            <h1 class="post__title">{{ .Title }}</h1>
        </header>
    </article>
</main>

{{ range .Site.Data.member }}

{{ $visibleMembers := where .Members "visible" true }}

{{ if gt (len $visibleMembers) 0 }}
{{ with .Year }}
<h4>{{ . }}入学</h4>
{{ end }}

<div class="cards">
    {{ range $visibleMembers }}
    {{ partial "member.html" . }}
    {{ end }}
</div>

<br>
{{ end }}

{{ end }}

{{ end }}
