
{{ define "main" }}

<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
		</header>        
	</article>
</main>

    <!-- members セクションの _index.md 用のレイアウト-->
    <!-- セクションじゃなくてシングルページのほうがスマートだと思うが、やり方がわからなかった-->


    {{ range .Site.Data.member }}
        {{ with .Year }}
            <h4>{{ . }}入学</h4>
        {{ end }}
        <div class="cards">
        {{ range .Members }}
            {{ partial "member.html" . }}
        {{ end }}
        </div>
            <br>
    {{ end }}





{{ end }}